@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --body-color:  #6A040F;
    --nav-bar-color: #370617;
    --nav-text-color: #E85D04;
    --nav-text-color-hover: #D00000;
    --hero-text: white;
    --hero-section-bg: #E85D04;
    --hero-section-font-color: #03071E;
    --header-height: calc(5em + 0.9em);
}

body {
    background-color: var(--body-color);
    position: relative;

    
}

/* Header Section CSS */

.video-container, .video {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.header-wrapper {
    position: sticky;
    top: 0px;
    z-index: 999;
}

header {
    background-color: var(--nav-bar-color);
    margin-top: 0.9em;
    height: 5em;
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
    
}

header nav {
    height: 100%;
    padding: 0 20vw;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

header nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--nav-text-color);
}

li a:hover {
    color: var(--nav-text-color-hover);
}

.main-logo:hover {

}

.main-logo, .main-logo-hidden {
    cursor: pointer;
    margin: 0.8vh 0 0 0;

}


.hamburger {
    display: none;
  flex-direction: column;
  width: 3.5em;
  justify-content: center;
  cursor: pointer;
}

span {
    border: 0.2em solid #E85D04;
    margin: 3px 0.2em;
} 

.main-logo-hidden {
    display: none;
}

.main-logo-hidden, .main-logo {
   cursor: pointer;
}


.small-sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 10em;
    top: 100%;
    right: 0%;
    background-color: var(--nav-bar-color);
    padding: 1em 1em;
}





/* main section */

main {
    max-width: 1200px;
    padding: 0 2em;
    margin: 0 auto;

}

.hero-section-wrapper {
    min-height: calc(100vh - var(--header-height));
}

.hero-section {

    background-color:var(--hero-section-bg);
    border-radius: 2rem;
    width: 100%;
    height:  80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    padding: 2% 2%;
}

.greeting {
    color: var(--hero-section-font-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.name {
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;     */
}

.title {
    font-size: 200%;
}

.subtitle {
    font-size: 108%;
}

.first-line {
    font-size: 287%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    background-color: transparent;
    border: none;
}

.wave {
    animation-name: rotate-hi;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;

}

.downward-arrow {
    padding-top: 10vh;
    animation-name: down-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}

@keyframes rotate-hi {
    from {
        transform: rotate(0.02turn);
    }    
    to {
        transform: rotate(0.09turn);
    }    
}


@keyframes down-arrow {
    0% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(10px)
    }
}



/* .projects */

.projects-section {
    border-radius: 2rem;
    background-color: var(--hero-section-bg);
    margin: auto;

}

.project {
    background-color: black;
    /* height: 20rem; */
    color: white;
    padding: 2rem;
    display: flex;
    column-gap: 2em;
    border-radius: 2em;
}

.list-project {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    column-gap: 2em;
    row-gap: 2em;
    
}

.project-item-image{
    width: 35%;

}
.project-item-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.projects-title {
    font-size: 4rem;
    color: var(--hero-section-font-color);
    text-align: center;
}

.project-item-info {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1em;
}

.project-item-name {
    width: 100%;
    /* text-align: center; */
}

.tech {

    background-color: #DC2F02;
    color: white;
    border: none;
    border-radius: 2em;
    width: 6em;
  height: 3em;
}

.tech:hover {
    background-color: #6A040F;  
    color: #d8572a;
    cursor: pointer;
}

.project-item-tech {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 1em;
    column-gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.source {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.view-source {
    display: flex;
    cursor: pointer;

}

.view-source a, .live-demo a {
    display: flex;
    align-items: center;
    justify-content: center;

}
.view-source a img, .live-demo a img {
    width: 48px;
    height: 48px;

}

.view-source a span, .live-demo a span {
    border: none;
}


/* .contact-section */

.contacts-section {

    background-color: var(--hero-section-bg);
    margin: 1em 0;
    display: flex;
    gap: 2em;
    padding: 0 1em;

}

.contact-info {
    padding: 2em;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-me {
    font-size: 107px;
}

.wanna-chat {
    font-size: 30px;
}

.contact-email {
    display: flex;
    align-items: center;
}

.email-icon {
    width: 48px;
    height: 48px;
}

.actual-email {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.message-box {
    background-color: var(--nav-bar-color);
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    border-radius: 2%;
    margin: 2em 0;
}




.contact-name, .email, .subject, .message {
    border: none;
    margin: 0 1rem;

}
.message {

}

#contact-name, #email, #subject, #message {
    margin: 0 1em;
    padding: 1em 8em;
    /* border: 1px solid var(--nav-text-color); */
    border-radius: 4%;
    outline: none;
    border-style: none;
    text-align: start;
}

#message {
    margin: 0 1em;
    resize: none;
    padding: 7em 9.6em;
    border-radius: 2%;

}

.send-message {
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 4%;
}

.send-message img {
    width: 32px;
    height: 32px;

}

.send-message span {
    border: none;
    border-style: none;
}
.contact-info .contact-me {
    /* font-size: 5em; */
}


/* .footer-section */

footer {
    background-color: var(--hero-section-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.footer-icon {
    width: 32px;
    height: 32px;
}

/* responsive media */

@media screen and (max-width: 1000px) { 
   /* header */
   
    header nav {
        padding: 0 10vw;
    }

    /* .hero-section */

    /* .project */

    .project {
        background-color: #03071E;
        /* height: 20rem; */
        color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
    }

    .project-item-info {
        width: 100%;
        height: auto; 
    }

    .project-item-image{
        width: 100%;
        height: 49%;
    
    }

    /* .contacts-section */

    .contacts-section {
        display: flex;
        flex-direction: column;

    
    }

    .contact-info {
        padding: 2%;
        width: 100%;
        height: 49%;
    }

    .message-box {
        width: 100%;
        height: 49%;
    }

    #contact-name, #email, #subject, #message {
        padding: 2em 15em;
    }
    
    #message {
        padding:9em 17.6em;
    
    }
}

@media screen and (max-width: 750px) {
       /* header */
    header nav {
        padding: 0 5vw;
    }

    /* .hero-section */
     
    .name {
        font-size: 3.2em;
    } 
    
    .title {
        font-size: 1.5rem;
    }
    
    .subtitle {
        font-size: 1rem;
    }
    
    .first-line {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    /* .contacts-section */
    .contact-me {
        font-size: 80px;
    }
    
    .wanna-chat {
        font-size: 20px;
    }
  
    .email-icon {
        width: 48px;
        height: 48px;
    }
    
    .actual-email {
        font-size: 20px;
    }

    #contact-name, #email, #subject, #message {

        padding: 1.5em 12em;
        /* border: 1px solid var(--nav-text-color); */
        border-radius: 4%;
    }
    
    #message {
        padding: 6em 14.6em;
        border-radius: 2%;
    
    }
}

@media screen and (max-width: 650px) {
       /* header */
    header nav {
        padding: 0 6vw;
    }

    .main-logo-hidden {
        display:initial ;
    }

    .hamburger {
        display: flex;
    }

    .about, .projects,  .main-logo, .resume, .contact {
        display: none;
    }


    /* .hero-section */

    /* .contacts-section */


    .contact-me {
        font-size: 60px;
    }
    
    .wanna-chat {
        font-size: 30px;
    }
    
    .contact-email {
        display: flex;
        align-items: center;
    }
    
    .email-icon {
        width: 48px;
        height: 48px;
    }
    
    .actual-email {
        font-size: 18px;
    }

    #contact-name, #email, #subject, #message {
        margin: 0 1em;
        padding: 1.3em 7em;
        /* border: 1px solid var(--nav-text-color); */
        border-radius: 4%;
        outline: none;
        border-style: none;
        text-align: start;
    }
    
    #message {
        margin: 0 1em;
        resize: none;
        padding: 7em 9em;
        border-radius: 2%;
    
    }
    
}


@media screen and (max-width: 480px) {
    
    /* .hero-section */

    .name {
        font-size: 1.9em;
    } 
    
    .title {
        font-size: 1rem;
    }
    
    .subtitle {
        font-size: 0.8rem;
    }
    
    .first-line {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

     /* .contacts-section */


     .contact-me {
        font-size: 50px;
    }
    
    .wanna-chat {
        font-size: 25px;
    }
    
    .contact-email {
        display: flex;
        align-items: center;
    }
    
    .email-icon {
        width: 24px;
        height: 24px;
    }
    
    .actual-email {
        font-size: 15px;
    }

    #contact-name, #email, #subject, #message {

        padding: 1.2em 5em;
        /* border: 1px solid var(--nav-text-color); */
        border-radius: 4%;
    }
    
    #message {
        padding: 6em 6.6em;
        border-radius: 2%;
    
    }
    
}

@media screen and (max-width: 420px) {
    
    /* .contacts-section */
    
    #contact-name, #email, #subject, #message {
        padding: 1em 1.3em;
        /* border: 1px solid var(--nav-text-color); */
        border-radius: 4%;
    }
    
    #message {
        padding: 5em 2.6em;
        border-radius: 2%;
    
    }

}