* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color:  #6A040F;
    --nav-bar-color: #370617;
    --nav-text-color: #E85D04;
    --nav-text-color-hover: #D00000;
    --hero-text: white;
    --hero-section-bg: #E85D04;
}

body {
    background-color: var(--body-color);
    position: relative;
    height:110vh;
    
}

/* Header Section CSS */

.video-container, .video {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--nav-bar-color);
    margin-top: 0.9em;
    height: 5em;
    position: sticky;
    top: 0px;
}

header nav {
    height: 100%;
    padding: 0 20vw;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

header nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
}

a:hover {
    color: var(--nav-text-color-hover);
}

.main-logo:hover {

}

.main-logo, .main-logo-hidden {
    cursor: pointer;
    margin: 0.8vh 0 0 0;

}


.hamburger {
    display: none;
  flex-direction: column;
  width: 3.5em;
  justify-content: center;
  cursor: pointer;
}

span {
    border: 0.2em solid #E85D04;
    margin: 3px 0.2em;
} 

.main-logo-hidden {
    display: none;
}

.main-logo-hidden, .main-logo {
   cursor: pointer;
}


.small-sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 10em;
    top: 100%;
    right: 0%;
    background-color: var(--nav-bar-color);
    padding: 1em 1em;
}



@media screen and (max-width: 1000px) {
    header nav {
        padding: 0 10vw;
    }

}

@media screen and (max-width: 750px) {
    header nav {
        padding: 0 5vw;
    }

}

@media screen and (max-width: 650px) {
    header nav {
        padding: 0 6vw;
    }

    .main-logo-hidden {
        display:initial ;
    }

    .hamburger {
        display: flex;
    }

    .about, .projects,  .main-logo, .resume, .contact {
        display: none;
    }
    
}


/* main section */

.hero-section {
    background-color:var(--hero-section-bg);
    border-radius: 2rem;
    width: 80%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;

    
}

.greeting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.name {
    font-size: 5rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
}

.first-line {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    background-color: transparent;
    border: none;
}

/* .wave {
    animation-name: 'rotate-hi';
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate-hi {
    from {
        background-color: red;
    }    
    to {
        background-color: black;
    }    
} */
