* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color:  #6A040F;
    --nav-bar-color: #370617;
    --nav-text-color: #E85D04;
    --nav-text-color-hover: #D00000;
    --hero-text: white;
    --hero-section-bg: #E85D04;
    --hero-section-font-color: #03071E;
}

body {
    background-color: var(--body-color);
    position: relative;
    height:110vh;
    
}

/* Header Section CSS */

.video-container, .video {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--nav-bar-color);
    margin-top: 0.9em;
    height: 5em;
    position: sticky;
    top: 0px;
    z-index: 999;
}

header nav {
    height: 100%;
    padding: 0 20vw;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

header nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
}

a:hover {
    color: var(--nav-text-color-hover);
}

.main-logo:hover {

}

.main-logo, .main-logo-hidden {
    cursor: pointer;
    margin: 0.8vh 0 0 0;

}


.hamburger {
    display: none;
  flex-direction: column;
  width: 3.5em;
  justify-content: center;
  cursor: pointer;
}

span {
    border: 0.2em solid #E85D04;
    margin: 3px 0.2em;
} 

.main-logo-hidden {
    display: none;
}

.main-logo-hidden, .main-logo {
   cursor: pointer;
}


.small-sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 10em;
    top: 100%;
    right: 0%;
    background-color: var(--nav-bar-color);
    padding: 1em 1em;
}





/* main section */

.hero-section {
    background-color:var(--hero-section-bg);
    border-radius: 2rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    padding: 2% 2%;
}

.greeting {
    color: var(--hero-section-font-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.name {
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;     */
}

.title {
    font-size: 200%;
}

.subtitle {
    font-size: 108%;
}

.first-line {
    font-size: 287%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    background-color: transparent;
    border: none;
}

.wave {
    animation-name: rotate-hi;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;

}

.downward-arrow {
    padding-top: 10vh;
}

@keyframes rotate-hi {
    from {
        transform: rotate(0.02turn);
    }    
    to {
        transform: rotate(0.09turn);
    }    
}


/* responsive media */

@media screen and (max-width: 1000px) { 
   /* header */
   
    header nav {
        padding: 0 10vw;
    }

    /* .hero-section */

}

@media screen and (max-width: 750px) {
       /* header */
    header nav {
        padding: 0 5vw;
    }

    /* .hero-section */
     
    .name {
        font-size: 3.2em;
    } 
    
    .title {
        font-size: 1.5rem;
    }
    
    .subtitle {
        font-size: 1rem;
    }
    
    .first-line {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}

@media screen and (max-width: 650px) {
       /* header */
    header nav {
        padding: 0 6vw;
    }

    .main-logo-hidden {
        display:initial ;
    }

    .hamburger {
        display: flex;
    }

    .about, .projects,  .main-logo, .resume, .contact {
        display: none;
    }


    /* .hero-section */

}


@media screen and (max-width: 480px) {
    
    /* .hero-section */

    .name {
        font-size: 1.9em;
    } 
    
    .title {
        font-size: 1rem;
    }
    
    .subtitle {
        font-size: 0.8rem;
    }
    
    .first-line {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}